* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.overflow-1 {
  background-color: chocolate;
  width: 700px;
  height: 100px;
  overflow-y: scroll;
}

/* width */
.overflow-1::-webkit-scrollbar {
  width: 5px;
  height: 50px;
}

/* Track */
.overflow-1::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.overflow-1::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
.overflow-1::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.overflow-2 {
  background-color: darkcyan;
  display: flex;
  gap: 20px;
  width: 1000px;
  overflow-x: scroll;

  &::-webkit-scrollbar-thumb {
    display: none;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  div {
    padding: 20px;
    background-color: cadetblue;
    color: white;
    width: 400px;
    flex: 0 0 auto;
  }
}

html {
  scroll-behavior: smooth;
}

section {
  background-color: burlywood;
  height: 100vh;

  &:nth-child(1) {
    margin-top: 20px;
  }

  &:nth-child(2) {
    background-color: crimson;
  }
  &:nth-child(3) {
    background-color: coral;
  }
  &:nth-child(4) {
    background-color: darkgoldenrod;
  }
}

nav {
  background-color: black;
  position: sticky;
  top: 0;

  a {
    color: white;
  }
}
